################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/camila-blog/FileContentIndex/cb918df9-463c-49e6-bfcd-6ec5864d3f7b.vsidx
